body {
  font-family: 'Avenir', 'Cordia New', Arial, sans-serif;
  font-size: 14px;
  margin: 20px 40px;
  background: #fafaf6
}

body>h1, body>h3, body>div {
  text-align: center;
}

.cont {
  margin: 1rem 0px;
  padding: 0.5rem;
  width: 100%;
  background: #e7e7e7;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px #bebebe;
}